/* .hover-white:hover{
    color:#000!important;
    background-color:#fff!important
} 
  
.bar .button{
    white-space:normal
}

.tooltip{
    position:relative
} */

/* .display-container:hover .display-hover{
    display:block
}
.display-container:hover span.display-hover{
    display:inline-block
}
.display-hover{
    display:none
} */

